

.about-us-links:not(:last-child){
        margin-bottom: 30px;
    }


.about-us-title{
    color:$title-text-color;
    margin-top: 30px;
    margin-bottom: 10px;  
}

.discription{
    font-weight: normal;
    line-height: 24px;
}


.about-us-div{
   @extend %alignment; 
    height: 120px;
    max-width: 450px;
    background-color:$secondary-bg-color;
    border-radius: 4%;
} 

.about-us-svg:hover{
    fill:$accent-color;
}





