// /* HEADER  */

// .logo {
//   @include font (26px, bold, 1.19);
//   font-family: Raleway;
//   font-style: normal;
//   letter-spacing: 0.03em;
//   color: $title-text-color;
//   margin-right: 85px;
//   padding-top: 25px; 
//   padding-bottom: 25px;

//   &:hover,
//   &:focus{
//     color:$accent-color;}
// }

// .web{
//   color:$accent-color;
// }

// .site-nav-list-item-link,
// .header-address-mail, 
// .header-address-tel {
//   @include font (14px, 500, 1.14 )
//   letter-spacing: 0.02em;
//   color: $title-text-color;
//   padding-top: 32px;
//   padding-bottom: 32px;  
// }

// .site-nav-list-item-link:hover,
// .site-nav-list-item-link:focus,
// .header-address-mail:hover,
// .header-address-mail:focus, 
// .header-address-tel:hover,
// .header-address-tel:focus,
// .header-address-svg:focus{
//   color: $accent-color;  
// }   

// .site-nav-list{
//  @extend %align-center;

//   &-item:not(:last-child){
//     margin-right: 50px;}
// }
// .navigation{
//   display: flex;
//   align-items: center;
// }  

// .header .container{
//   display: flex;
//   align-items: center; 
//   justify-content:space-between;
// }
// .header-address{
//   @extend %align-center;

//   &-mail, 
//   &-tel{
//   color:$primery-text-color; 
//   display: inline-flex;
//   align-items: center;}

//   &-svg{
//     height: 20px;
//     width: 20px;
//     fill: #757575;
//     margin-right: 10px;}

//   &-list{
//     display: inline-flex;}

//   &-items{
//     margin-top: 0;
//     margin-bottom: 0;}
// }

// .header-address-tel:hover .header-address-svg,
// .header-address-mail:hover .header-address-svg,
// .header-address-mail:focus .header-address-svg,
// .header-address-tel:focus .header-address-svg{
//   color:$accent-color;
//   fill:$accent-color;
// } 

// .site-nav-list-item.current::after{
//   display: block;
//   content: "";
//   height: 4px;
//   width: 100%;
//   background: $accent-color;
//   border-radius: 2px;  
//   position: absolute;

// }
// .site-nav-list-item.current{
//   position: relative;
// }
