.menu-wrapper{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-wrapper.is-open{
    display: block;
}

.header{
    position: relative;
    background-color: sandybrown;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    @include font ($fs: 24px, $lh: 1.17);
    font-family: Raleway;
    font-style: normal;
    color:$title-text-color;
}
.web{
    color: $accent-color;
}

.menu-btn svg{
    height: 19px;
    width: 24px;
}

.menu-btn {
    // position: relative;
    background-color: transporent;
    padding-right: 0;
    padding-left: 0;  
    border: none;
    height: 19px;
    width: 24px;
    // z-index: 100;
}
.icon-cross{
    display: none;
}

.site-nav-list,
.header-address-items{
    text-align:center;
}

.site-nav-list-item:not(:last-child){
    margin-bottom: 40px;
}

.navigation{
    margin-bottom: 60px;
}

.site-nav-list-item-link,
.header-address-mail, 
.header-address-tel {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.site-nav-list-item-link{
    color:$title-text-color;
}

.header-address-mail, 
.header-address-tel{
    color:$primery-text-color;
}
 
// .site-nav-list-item-link:hover,
// .site-nav-list-item-link:focus,
// .header-address-mail:hover,
// .header-address-mail:focus, 
// .header-address-tel:hover,
// .header-address-tel:focus,
// .header-address-svg:focus{
//     color: var(--accent-color); 
    
// }   
  
// .header-address-mail, 
// .header-address-tel
//     {color:var(--primery-text-color); 
//     display: inline-flex;
//     align-items: center;


    
// }








//  .navigation{
//     display: flex;
//     align-items: center;
//  }  

// .header .container{
//     display: flex;
//     align-items: center; 
//     justify-content:space-between;
// }

// .header-address-mail{
//     margin-right: 50px;
   
    
// }
 
//  /* .header{
//     padding-top: 25px;
//     padding-bottom: 25px; 
// } */

// .header-address{
//     display: flex;
//     align-items: center;
// }

.header-address-svg{
    height: 20px;
    width: 20px;
    fill: #757575;
    margin-right: 10px;
}

// /* .header-address-svg:hover{
//     fill: var(--accent-color);
// } */

.header-address-list:not(:last-child){
    margin-bottom: 16px;
}

// .header-address-list{
//     font-style: normal;
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 21px;
//     letter-spacing: 0.02em;
//     color:$primery-text-color;
// }



// .header-address-tel:hover .header-address-svg,
// .header-address-mail:hover .header-address-svg,
// .header-address-mail:focus .header-address-svg,
// .header-address-tel:focus .header-address-svg{
//     color:$accent-color;
//     fill:$accent-color;
// } 


// .header-address-items{
//     margin-top: 0;
//     margin-bottom: 0;
// }


.site-nav-list-item .current::after{
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 60px;
    background: $accent-color;
    border-radius: 2px;  
    padding-bottom: 0;
    // top: 100%; 
    // left: 0;
    transform: translateX(350%) ;
}
.site-nav-list-item {
    position: relative;
}

.site-nav-list-item .current:hover{
    color:$accent-color;
}