// /* Hero */
// .hero {
//   text-align: center;
//   padding-bottom: 200px;
//   padding-top: 200px;

//   &-title {
//     @include font (44px, 900, 1.36 )
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: $title-secondary-text-color;
//     margin-top: 0px;
//     margin-bottom: 30px;
//   }

//     &.overlay {
//     max-width: 1600px;
//     height: 600px;
//     margin-right: auto;
//     margin-left: auto;
//     background-position: center;
//     background-repeat: no-repeat;
//     /* background-size: cover; */
//     background-image: linear-gradient(
//         to bottom,
//         rgba(47, 48, 58, 0.8),
//         rgba(47, 48, 58, 0.8)
//       ),
//       url("../image/Header.jpg");
//     background-color: black;
//   }
// }





