// /*Our Team*/

// .our-team {
//   background-color: $secondary-bg-color;
//   padding-top: 94px;

// & .items:not(:last-child) {
//   margin-right: 30px;
//   }

// & .list {
//   display: flex;
//   justify-content: center;
//   }
// }

// .section-title-our-team {
//   margin-top: 0;
//   margin-bottom: 50px;

//   &-names {
//     @include font (16px, 500 );
//     color: $title-text-color;
//     margin-top: 30px;
//   }
// }

// .social-list {
//   @extend %align-center;
//   padding-left: 0;
//   margin-top: 16px;
//   padding-bottom: 24px;

// &-items:not(:last-child) {
//     margin-right: 22px;
//   }
// }

// .description-our-team {
//   @include font( 16px, normal);
//   margin-top: 10px;
//   margin-bottom: 0;
// }

// h3 {
//   margin-bottom: 0;
// }

// .items {
//   text-align: center;
//   background-color: $title-secondary-text-color;
//   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 1px 3px rgba(0, 0, 0, 0.12);
//   border-radius: 0px 0px 4px 4px;
// }

// .our-team-list {
//   padding-bottom: 94px;
// }

// .social-list-items-links {
//   @extend %align-center;
//   height: 44px;
//   width: 44px;
//   border-radius: 50px;
//   fill: #71778b;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   background-color: $button-color;
//   fill: $title-secondary-text-color;
// }

//   &-svg {
//   height: 20px;
//   width: 20px;
//   align-items: center;
// }
// }



