// /* PORTFOLIO */

// /* Our works */
// .our-works-list {
//   @extend %align-center;
//   padding-top: 93px;
// }

// .container.portfolio {
//   border-top: 1px solid #eeeeee;
// }

// .our-work-items {
//   margin-right: 30px;
// }

// .our-works-list-btn {
//   @include font (16px, 500, 1.62)
//   height: 38px;
//   font-family: Roboto;
//   font-style: normal;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: $title-text-color;
//   border-radius: 4px;
//   border: transparent;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   color:#fff;
//   background-color: $button-color;
//   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
//   0px 3px 1px rgba(136, 119, 119, 0.1);
// }
// }


