h2{
    @include font ($fs: 28px, $lh: 1.18);
    color: $title-text-color;
    text-align: center;
   
}

section{
    padding-top:60px;
    padding-bottom: 60px;
   
}

h3{
    @include font ($fs: 16px, $fw:500, $lh: 1.188);
    color: $title-text-color;
}