
    $secondary-bg-color: #F5F4FA;
    $footer-bg-color: #2F303A;

    $title-text-color:#212121;
    $title-secondary-text-color:#FFFFFF;
    $primery-text-color:#757575;
    $footer-text-color:rgba(255, 255, 255, 0.6);
   
    $accent-color:#2196F3;
    $button-color:#2196F3;
